
.field.IconField ul {
	margin: 0;
	padding: 0;
	border-radius: 4px;
	border: 1px solid #b3b3b3;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJUlEQVQYV2N89+7dfwY0ICQkxIguxjgUFKI7GsTH5m4M3w1ChQDSWCb4tR+WrAAAAABJRU5ErkJggg==");
}

.field.IconField .option {
	display: inline-block;
}

.field.IconField .option input {
	display: none;
}

.field.IconField .option label {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin-right: 5px;
	cursor: pointer;
	padding: 10px;
	border-radius: 4px;
	margin: 5px;
	overflow: hidden;
	position: relative;
}

.field.IconField .option label:hover {
	background: rgba(0,0,0,0.1);
}

.field.IconField .option label img {
	max-width: 100%;
	max-height: 100%;
}

.field.IconField .option input:checked + label {
	background-color: #3875d7;
	background-image: -moz-linear-gradient(center top , #3875d7 20%, #2a62bc 90%);
}

.field.IconField .option:first-child label:after {
	content: 'No icon';
	display: block;
	color: #000000;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	position: absolute;
	top: 18px;
	left: 0;
	right: 0;
}

.field.IconField .option input:checked + label:after {
	color: #FFFFFF;
}